@font-face{
    font-family: gupta love;
    src: url(./Filxgirl.TTF);
}


@font-face {
    font-family: hp;
    src: url(./Blood\ Victim\ Zombie.ttf);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width:100%;
}


#main{
    height:100%;
    width:100%;
    background-color:black;
    background-image: url(https://images.unsplash.com/photo-1543772642-b399a616b770?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDkxfHx8ZW58MHx8fHx8);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 80px;
}


h1{
font-size: 150px;
color:#D4885C;
font-family: gupta love ;
font-weight: 100;

}

button{
    font-size: 15px;
     padding : 20px 40px;
     background-color: transparent;
     border : 3px solid white;
     font-weight: 600;
     border-radius: 5px;
    }