*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height:100%;
    width:100%;
    background-color: black;
  
}

#nav{
    height:50px;
    width:100%;
    background-color: rgb(16, 17, 17);
      display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}

#nav h4{
    color:white;
    font-weight:100;
    font-size: 15px;

}




#center{
    height:70%;
    width:100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 50px;
}



#center h1{
    color:white;
    font-size: 60px;
    font-weight: 600;
}

#center  h5{
    color: white;
    font-size: 40px;
    font-weight: 300;
}

#links{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#links button{
background-color: blue;
    color: rgb(248, 248, 248);
    padding: 10px 20px;
    
    border-radius: 50px;
    border: none;
}
