*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height:100%;
    width:100%
}

#parent{
    height:100%;
    width:100%;
    background-color: black;
}

#box1{
    height:200px;
    width:200px;
    background-color: crimson;
}



#box2{
    height:200px;
    width:200px;
    background-color: rgb(38, 153, 135);
    position:absolute;
    top: 0;
    left: 200px;
}


#box3{
    height:200px;
    width:200px;
    background-color: rgb(90, 176, 16);
}